@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
  }

:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

.container{
    background-color: var(--primary-color);
    font-family: 'Poppins' , sans-serif;
}

header{
    height: 3.5rem;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.search{
    background-color: transparent;
    padding: 0.5rem 1rem;
    position: relative;
    right: -20%;
    border-radius: 50px;
    border: none;
    color: #fff;
    border: 2px solid var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}

.search:focus{
    outline: none;
    background-color: var(--primary-color);
}

img{
    width: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    width: 283px;
    flex-direction: column;
    margin: 1.14rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem 1rem;
    font-size: .8rem;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0%);
}

